<div class="registration-container">
    <h1>Create your Spotify account</h1>
    <form [formGroup]="registerForm" (ngSubmit)="Registrar()">
      <div class="caja-1">
        <input type="text" formControlName="name" placeholder="Name">
        <input type="text" formControlName="lastname" placeholder="LastName">
      </div>

      <input type="text" formControlName="username" placeholder="UserName">
      <input type="text" formControlName="email" placeholder="Email">
      <input type="password" formControlName="password" placeholder="Password">
      <button type="submit" >Sign up</button>
    </form>
</div>
