<div class="home-container row"> 
    <div class="home-sidebar col-2">
        <div class="m-3">
            <img width="150" src="assets/spotify_white.png" alt="">
        </div>
        <div class="home-sidebar-items">
            <a href="">Home</a>
        </div>
        <div class="home-sidebar-items">
            <a href="">Search</a>
        </div>
        <div class="home-sidebar-items">
            <a href="">Playlist</a>
        </div>
        <div class="home-sidebar-items">
            <a href="">Create Playlist</a>
        </div>
    </div>
    <div class="home-body col-10">
        <app-nav-top></app-nav-top>
    </div>
</div>
